doctype 5
| <!--[if gte IE 9]><!-->
html(lang="en", class="no-js newer")
  | <!--<![endif]--><!--[if lt IE 9]>
html(lang="en", class="no-js legacy")
  | <![endif]-->
  head
    title Example HTML page
    | 
    | <!--[if gte IE 9]><!-->
    link(rel='stylesheet', href='/_assets/css/style.css')
    | <!--<![endif]-->
    | <!--[if lt IE 9]>
    link(rel='stylesheet', href='/_assets/css/style-legacy.css')
    | <![endif]-->
    //- http://www.paulirish.com/2009/avoiding-the-fouc-v3/
    script (function () {var d=document.documentElement; d.className=d.className.replace(/\bno-js\b/,'js'); })();
  body
    .page
      header.site-header
        .wrap
          .masthead
            h1 Example HTML page
            h2 Cohesive Responsive Architecture for Preprocessors
          nav.main-nav
            ul
              li
                a(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') News
              li
                a(href='#') Contact
      .site-main
        .wrap
          p Welcome to a better structure.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, iusto, totam, recusandae ducimus molestias nemo repudiandae quos quod placeat quisquam et harum quo repellendus dolor perspiciatis tenetur iste incidunt rerum!

          p Voluptatem, fuga, culpa dolorum fugiat eaque nisi fugit natus dignissimos tempore non illum molestias consequatur deleniti ipsa eveniet esse perspiciatis aliquid quod. Iure, inventore et similique eligendi obcaecati voluptatum facere?

          p Expedita, est, fuga, ullam quam totam dolorum cupiditate porro tenetur sed commodi repellat earum rem et quisquam temporibus perferendis non natus alias. Numquam, optio, ea ducimus tempora dolores veritatis unde?

          p Corporis, accusantium, illo omnis tenetur atque nemo placeat recusandae qui libero quaerat eos rerum quo pariatur natus dolores ex fugit numquam inventore aperiam enim non deserunt consequuntur dolorum nam sunt?

          p Nostrum, dicta blanditiis ratione consequuntur perferendis est. Accusamus, delectus, officia et magni sunt deleniti laborum maxime aut error aliquid possimus id officiis ratione omnis incidunt? Qui explicabo assumenda corporis reiciendis?
          
          ul.palette
            li #D5FFEB
            li #ffb1c2
            li #ffd9c3
            li #fffcc5
            li #444
            li rgba(0,0,0,0.25)
            li lightblue
            
      footer.site-footer
        .wrap
          p
            small 2013 | Some rights reserved
    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="_assets/js/main.js")
