$slant: 3deg;

.spotlight {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: solid 1px black;
  position: relative;
  &:hover {
    .spotlight-text {
      top: 20px;
    }
    .spotlight-detail {
      display: block;
    }
  }
}

.spotlight-text {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-top: solid 1px black;
  padding: 0 20px 10px;
  position: absolute;
  top: 70%;
  bottom: -10px;
}

.spotlight-detail {
  overflow: hidden;
}

.spotlight-title {
  margin-bottom: 0;
}

// Big link (avoiding putting lots of text in an <a> for accessibility)

.js .spotlight {
  cursor: pointer;
}