$bp_mobile: 'only screen and (max-width: 360px)';
$bp_mobile_tablet: 'only screen and (max-width: 480px)';
$bp_tablet: 'only screen and (min-width: 361px) and (max-width: 640px)';
$bp_tablet_desktop: 'only screen and (min-width: 361px)';
$bp_desktop: 'only screen and (min-width: 641px)';
$bp_supersize: 'only screen and (min-width: 960px)';

@if $isLegacyMode {
  $bp_desktop: 'screen';
  $bp_tablet_desktop: 'screen';
}