// Whole-page layout styling

html {
  @include mq($to: tablet) {
    background: #ffb1c2;
  }
  @include mq($from: tablet) {
    background: #ffd9c3;
  }
  @include mq($from: desktop) {
    background: #fffcc5;
  }
  @include mq($from: supersize) {
    background: #D5FFEB;
  }
}
.page {
  @include mq(desktop) {
    min-width: 641px;
  }
}
.wrap {
  @include mq(desktop) {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
  }
  @include mq(supersize) {
    max-width: 1080px;
  }
  @include mq($to: desktop) {
    @include column(12);
  }
}

