$slant: 2deg;

.spotlight {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: solid 2px black;
  position: relative;
  &:hover {
    .spotlight-image {
      transform: scale(1.1);
      img {
        opacity: 0.7;
      }
    }
    .spotlight-text {
      top: 20px;
      background-color: #fffcc5;
    }
    .spotlight-text {
      transform: skew(0,$slant);
    }
    .spotlight-text-inner {
      transform: skew(0,-$slant);
    }
    .spotlight-detail {
      opacity: 1;
      display: block;
    }
  }
}

.spotlight-image {
  background: orange;
  transition: .4s;
  img { transition: .4s; }
}

.spotlight-text {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-top: solid 2px black;
  padding: 0 20px 10px;
  position: absolute;
  top: 70%;
  bottom: -10px;
  transition: .4s;
  transform: skew(0,-$slant);
}

.spotlight-text-inner {
  transform: skew(0, $slant);
  transition: .4s;
}

.spotlight-detail {
  //display: none;
  transition: .4s;
  overflow: hidden;
}

.spotlight-title {
  margin-bottom: 0;
}

// Big link (avoiding putting blocks in an <a> for accessibility)

.js .spotlight {
  cursor: pointer;
}